<launch>

	<param name="vad" value="webrtc" />
	<param name="input" value="micro" />
	<param name="output_speaker" value="pico" />
	<param name="asr" value="watson" />
	<include file="$(find svox_tts)/launch/svox_tts.launch"/>

	
	<node name="emotional" pkg="motivational_component" type="motivational_node.py" output="screen" cwd="node"/>
	<node name="emotions" pkg="qt_face" type="face_duration.py" output="screen" cwd="node"/>
	<node name="tts" pkg="qt_dialog" type="tts_node.py" output="screen" cwd="node"/>
	<node name="stt" pkg="qt_dialog" type="stt_node.py" output="screen" cwd="node"/>
	<node name="nlp" pkg="qt_dialog" type="nlp_node.py" output="screen" cwd="node"/>
	<node name="vad" pkg="qt_dialog" type="vad_node.py" output="screen" cwd="node"/>
	<node name="dialog" pkg="qt_dialog" type="dialog_node.py" output="screen" cwd="node"/>

</launch>
