<launch> 

	<include file="$(find svox_tts)/launch/svox_tts.launch"/>

  <node name="tts" pkg="qt-dialog" type="tts_node.py" output="screen" cwd="node"/>
  <node name="stt" pkg="qt-dialog" type="stt_node.py" output="screen" cwd="node"/>
  <node name="nlp" pkg="qt-dialog" type="nlp_node.py" output="screen" cwd="node"/>
  <node name="vad" pkg="qt-dialog" type="vad_node.py" output="screen" cwd="node"/>
  <node name="dialog" pkg="qt-dialog" type="dialog_node.py" output="screen" cwd="node"/>
</launch>