<launch>
	

	<include file="$(find audio_capture)/launch/capture.launch"/>
	<param name="input" value="topic" />
	<param name="input_topic" value="audio/audio" />

	<param name="vad" value="pyaudio" />
	<param name="input" value="micro" />
	<param name="output_speaker" value="pico" />
	<param name="asr" value="google" />
	<include file="$(find svox_tts)/launch/svox_tts.launch"/>

	

	<node name="emotions" pkg="qt_face" type="face_duration.py" output="screen" cwd="node"/>
	<node name="tts" pkg="qt-dialog" type="tts_node.py" output="screen" cwd="node"/>
	<node name="stt" pkg="qt-dialog" type="stt_node.py" output="screen" cwd="node"/>
	<node name="nlp" pkg="qt-dialog" type="nlp_node.py" output="screen" cwd="node"/>
	<node name="vad" pkg="qt-dialog" type="vad_node.py" output="screen" cwd="node"/>
	<node name="dialog" pkg="qt-dialog" type="dialog_node.py" output="screen" cwd="node"/>

</launch>
